{% extends "base.html" %}
{% block page_styles %}
{{ parent() }}
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="theme/assets/global/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="theme/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css"/>
<link rel="stylesheet" type="text/css" href="theme/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css"/>
<link rel="stylesheet" type="text/css" href="theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="theme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css"/>


<!-- END PAGE LEVEL STYLES -->
{% endblock %}
{% block title %}
 artmed | mini ERP
{%  endblock %}

{%  block content %}
<!-- BEGIN CONTENT -->

	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			Dashboard <small>πελατών</small>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.php">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">Dashboard</a>
					</li>
				</ul>

				<div class="page-toolbar">
                                <form action="index.php" method ="post" class="inline-form">
                                
                                <button type="submit">Go</button>
				<div class="form-group">                                       
                                            <div class="input-group input-large date-picker input-daterange" data-date="25/02/2015" data-date-format="dd/mm/yyyy">
                                                    <input type="text" class="form-control" name="from">
                                                    <span class="input-group-addon">
                                                    έως </span>
                                                    <input type="text" class="form-control" name="to">
                                            </div>
                                
                                </div>
                                
                             
                                
                                </form>
					
				</div>

				</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN DASHBOARD STATS -->
			
                        <div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat blue-madison">
						<div class="visual">
							<i class="fa fa-comments"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{ xreosi }} €
							</div>
							<div class="desc">
								 Χρέωση
							</div>
						</div>
						<a class="more" href="#">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat red-intense">
						<div class="visual">
							<i class="fa fa-bar-chart-o"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{ tziros }} €
							</div>
							<div class="desc">
								  Τζίρος
							</div>
						</div>
						<a class="more" href="#">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat green-haze">
						<div class="visual">
							<i class="fa fa-shopping-cart"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{ clientno }}
							</div>
							<div class="desc">
								 Πελάτες
							</div>
						</div>
						<a class="more" href="#">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat purple-plum">
						<div class="visual">
							<i class="fa fa-globe"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{ pistosi }} €
							</div>
							<div class="desc">
								 Πίστωση
							</div>
						</div>
						<a class="more" href="#">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
			</div>
			<!-- END DASHBOARD STATS -->
			<div class="clearfix">
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<!-- BEGIN PORTLET-->
					<div class="portlet solid bordered grey-cararra">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bar-chart-o"></i> Πωλήσεις
							</div>
							<div class="actions">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn grey-steel btn-sm active">
									<input type="radio" name="options" class="toggle" id="option1">New</label>
									<label class="btn grey-steel btn-sm">
									<input type="radio" name="options" class="toggle" id="option2">Returning</label>
								</div>
							</div>
						</div>
						<div class="portlet-body">
							<div id="site_statistics_loading">
								<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
							</div>
							<div id="site_statistics_content" class="display-none">
								<div id="site_statistics" class="chart">
								</div>
							</div>
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
				<div class="col-md-6 col-sm-6">
					<!-- BEGIN PORTLET-->
					<div class="portlet solid grey-cararra bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bullhorn"></i>Εισπράξεις
							</div>
							<div class="actions">
								<div class="btn-group pull-right">
									<a href="" class="btn grey-steel btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
									Filter <span class="fa fa-angle-down">
									</span>
									</a>
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="javascript:;">
											Q1 2014 <span class="label label-sm label-default">
											past </span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
											Q2 2014 <span class="label label-sm label-default">
											past </span>
											</a>
										</li>
										<li class="active">
											<a href="javascript:;">
											Q3 2014 <span class="label label-sm label-success">
											current </span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
											Q4 2014 <span class="label label-sm label-warning">
											upcoming </span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="portlet-body">
							<div id="site_activities_loading">
								<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
							</div>
							<div id="site_activities_content" class="display-none">
								<div id="site_activities" style="height: 228px;">
								</div>
							</div>
							</div>

							<div style="margin: 20px 0 10px 30px">
							</div>
						</div>
					</div>

				<div class="row">
		                 <div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue-hoki">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Πίνακας Πελατών από {{from}} εώς {{to}}
							</div>
							<div class="tools">
							</div>
						</div>
						<div class="portlet-body">
							<table class="table table-striped table-bordered table-hover" id="sample_1">
							<thead>
							<tr>
								
								<th>
									 ΑΠΟ
								</th>
								<th>
									 ΕΩΣ
								</th>
                                                                <th>
									 ΧΡΕΩΣΗ<div id="header_col_2"></div>
								</th>
								<th>
									 ΠΙΣΤΩΣΗ<div id="header_col_3"></div>
								</th>
                                                                
								<th>
									 ΤΖΙΡΟΣ<div id="header_col_4"></div>
								</th>
                                                               
                                                                
                                                                <th>
									 ΠΕΛΑΤΗΣ
								</th>
                                                                <th>
									 ΝΕΑ ΠΑΡΑΓΓΕΛΙΑ
								</th>
                                                                <th>
									 ΕΙΔΗ
								</th>
                                                                <th>
									 ΑΦΜ
								</th>
                                                                
							</tr>
							</thead>

							<tfoot style="display:table-header-group">
							<tr>
								<th>ΑΠΟ</th>
								<th>ΕΩΣ</th>
                                                                <th>
									 ΧΡΕΩΣΗ
								</th>
								<th>
									 ΠΙΣΤΩΣΗ
								</th>
								<th>
									 ΤΖΙΡΟΣ
								</th>
                                                                <th>
									 ΠΕΛΑΤΗΣ
								</th>
                                                                <th>
									 ΝΕΑ ΠΑΡΑΓΓΕΛΙΑ
								</th>
                                                                <th>
									 ΕΙΔΗ
								</th>
                                                                <th>
									 ΑΦΜ
								</th>
							</tr>
							</tfoot>
							
							<tbody>
                                                            {% for row in res %}
                                                         <tr>
                                                         <td>{{row['Min Date']}}</td>
                                                         <td>{{ row['Max Date']}}</td>
                                                         
                                                         <td>{{ row['XREOSI']}}</td>
                                                         <td>{{ row['PISTOSI']}}</td> 
                                                         <td>{{ row['TZIROS']}}</td>
                                                         <td><a href="client.php?traid={{row['TRAID']}}">{{ row['LEENAME']}}</a></td>
                                                         <td><a href="order.php?traid={{row['TRAID']}}"><span class="label label-sm label-danger">Νέα Παραγγελία</span></a></td>
                                                         <td><a href="goods.php?traid={{row['TRAID']}}"><span class="label label-sm label-success ">Είδη</span></a></td>
                                                         <td>{{ row['LEEAFM']}}</td>
                                                         </tr>
                                                          {% endfor %}
							
							</tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
                                        
				</div>

								</div>
			</div>


					<!-- END PORTLET-->
            <div class="row">
				
			</div>



 </div>
</div>
<!-- END CONTENT -->

{%  endblock %}

{% block page_level_scripts %}
{{ parent() }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="theme/assets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="theme/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="theme/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="theme/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
<script type="text/javascript" src="theme/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="theme/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="theme/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="theme/assets/global/plugins/clockface/js/clockface.js"></script>
<script type="text/javascript" src="theme/assets/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="theme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="theme/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="theme/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->


<!-- END PAGE LEVEL SCRIPTS -->
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="theme/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="theme/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="theme/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="theme/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="theme/assets/admin/pages/scripts/table-advanced.js"></script>
<script src="theme/assets/admin/pages/scripts/components-pickers.js"></script>

<script>
jQuery(document).ready(function() {
	var context= JSON.parse('{{ graph|raw}}');
	var monthNames = [ "Ιαν", "Φεβ", "Μαρ", "Απρ", "Μαι", "Ιουν",
    "Ιουλ", "Αυγ", "Σεπ", "Οκτ", "Νοε", "Δεκ" ];
	var i=0;
	var chart_data = [];
	for (;context[i];) {
		var value = context[i];
		chart_data.push([monthNames[i], value]);
		i++;
	}
			
	Index_goro.initCharts(chart_data,chart_data);
	ComponentsPickers.init();

	//Change ALL the footer values to input boxes.
    $('#sample_1 tfoot th').each( function () {
    //$('.myClass th').each( function () {
        var title =   jQuery.trim($('#sample_1 thead th').eq( $(this).index() ).text());
		//ALL ? Not all. Do not put search boxes for the buttons.
		if ((title != "ΝΕΑ ΠΑΡΑΓΓΕΛΙΑ")&&(title != "ΕΙΔΗ"))
		{
        $(this).html( '<input size="10" type="text" class="lol" placeholder="'+title+'" />' );
		}
		else
        $(this).html( ' ' );
    } );
	
	
});

</script>


{%  endblock %}